In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Series object
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [8]:
# Create a DataFrame by passing a numpy array, 
# with a datetime index and labled columns

dates = pd.date_range('20130101',periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01  1.217540 -0.103246  1.035629 -0.987117
2013-01-02 -0.699249  0.070552  0.852120 -0.858004
2013-01-03 -0.388806  0.058745 -0.411492 -0.383104
2013-01-04  2.384463 -0.566575 -2.186169 -0.471644
2013-01-05 -0.562358  0.560924  0.517251  1.094361
2013-01-06  0.137726 -1.047763 -1.439772 -1.541061

In [15]:
df2 = pd.DataFrame({  'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })

In [16]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object