In [2]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

<h1 id="tcheading">Table Of Contents</h1>
<div id ="toc"></div>

# SQL Basics

# Subqueries within Queries

This is allowed (for exmaple, for queries which return exactly one row)
<pre>
WITH ( SELECT .... ) AS foo --returns something like quanitiy | date --

SELECT quantiy,date 
FROM foo
WHERE quantity > 2*(SELECT AVG(quantity) as mean FROM foo) + (SELECT STDDEV(quantity) as std_dev FROM foo)
</pre>